# Ignore objects and archives, anywhere in the tree.
*.[oa]
*.so

# Ignore the executable created by Makefile
jetBackgroundAnalysis
jetBackgroundAnalysis.dSYM

# Ignore text files that make file lists
comp*.txt
list_oldForest.txt
myList.txt
*.log

# Ignore all root files
*.root

# Ignore tar balls
*.tar.gz

# Ignore data and figures folders
data
figures
eventPlaneCorrelation

# Ignore .DS_Store, if mac for some reason makes this file
.DS_Store
